h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    word-spacing: 40px;
    letter-spacing: 20px;
    color: forestgreen;
}

h2 {
    text-decoration: overline;
}

h3 {
    text-decoration: line-through;
}

h4 {
    text-decoration: underline;
}

p {
    font-family: 'Times New Roman', Times, serif;
}